#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.photo{
    position: absolute;
    top:0rem;
    right: 0;
    z-index: -1;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 100;
}

.btn{
    background:white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: none;
}
.hireImg{
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem;
}

@media screen and (max-width:840px ){
    
    .introContent{
        font-size: 7vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    .photo{
        right: -10rem
    }
}
@media screen and (max-width:570px){
    .photo{
        right: -10rem
    }
    .introContent{
        font-size: 7vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}